name: Build and Deploy .NET Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: Restore dependencies
        # Apuntamos directo al archivo, sin carpetas
        run: dotnet restore Lab4-NadiaTorres.csproj

      - name: Build application
        # Apuntamos directo al archivo, sin carpetas
        run: dotnet build Lab4-NadiaTorres.csproj --configuration Release
      
      - name: Publish application
        run: dotnet publish Lab4-NadiaTorres.csproj --configuration Release --output ./published

      - name: Deploy to server (ejemplo de despliegue)
        run: |
          echo "Listo para desplegar. Archivos generados en ./published"
