name: Build and Deploy .NET Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: Restore dependencies
        # CORRECCIÓN: Entramos a la carpeta y señalamos el archivo
        run: dotnet restore Lab4-NadiaTorres/Lab4-NadiaTorres.csproj

      - name: Build application
        # CORRECCIÓN: Lo mismo aquí
        run: dotnet build Lab4-NadiaTorres/Lab4-NadiaTorres.csproj --configuration Release
      
      - name: Publish application
        # CORRECCIÓN: Y aquí. Esto evita el error del .sln y el error de "archivo no encontrado"
        run: dotnet publish Lab4-NadiaTorres/Lab4-NadiaTorres.csproj --configuration Release --output ./published

      - name: Deploy to server (ejemplo de despliegue)
        run: |
          echo "Compilación y publicación exitosas. Archivos en ./published"
